 {
   "semi":false,
   "singleQuote": true,
   "printWidth": 120,
   "trailingComma": "none",
   "tabWidth": 2,
   "bracketSpacing": true,
   "jsxBracketSameLine": true,
   "arrowParens": "avoid",
   "requirePragma": false,
   "useTabs": false,
   "htmlWhitespaceSensitivity":"ignore",
   "prettier.vueIndentScriptAndStyle":true
   
}